
.logo-image{
    height: 120px;
    left: -17px;
    object-fit: cover;
    position: absolute;
    top: -5px;
    width: 189px;
    }

.rectangle{
    background-color: #0afe13;
    height: 60px;
    left: 155px;
    position: absolute;
    top: 55px;
    width: 1336px;
    }

.AGRO-online-system{
    color: #020202;
    font-family: "Inter-Light", Helvetica;
    font-size: 18px;
    font-weight: 300;
    left: 1050px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    }

.logo-image1{
    height: 22px;
    left: 1280px;
    object-fit: cover;
    position: absolute;
    top: 15px;
    width: 22px;
    }

.logo-image2{
    height: 30px;
    left: 1330px;
    object-fit: cover;
    position: absolute;
    top: 12px;
    width: 30px;
    }

.logo-image3{
    height: 45px;
    left: 1380px;
    object-fit: cover;
    position: absolute;
    top: 6px;
    width: 45px;
    }

.home-about-us{
    color: #fafafa;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 1040px;
    letter-spacing: 00;
    line-height: normal;
    position: absolute;
    top: 55px;
    }     
